.tooltip {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    width: 42vw; /* Adjust as needed */
    height: 58vh;
    top: 59%;
    left: 74.8%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1); /* Drop shadow */
}
  
  .tooltip-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .color-bar {
    display: flex;
    flex-direction: column;
    width: 50px; /* Adjust the width as needed */
    border-radius: 5px;
    overflow: hidden;
    gap: 10px;
  }
  
  .color-swatch {
    flex: 1;
    height: 100px; /* Adjust the height as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
  .color-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px; /* Adjust as needed */
    margin-left: 20px;
    width: 39vw;
  }
  
  .color-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100px;
    border: 1px solid lightgrey; /* Light grey border */
    margin-bottom: 10px; /* Space between items */
    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
  .color-item label {
    font-weight: bold;
    color: #fff; /* Ensure labels are visible */
  }
  
  .color-item input {
    border: none;
    background: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 150px;
  }

  .info {
    font-size: 16px;
    font-weight: 300; /* Make font less heavy */
    padding-left: 10px;
  }
  
  .color-item h5{
    font-weight: 400; /* Make font less heavy */
    padding-left: 10px;
    padding-top: 10px;
  }